<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Eclipse Phase 2 Muse {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/app.css">
  </head>
  <body data-bs-theme="dark">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Eclipse Phase 2 Muse</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-info" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Compendium</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item text-info" href="/aptitudes">Aptitudes</a></li>
                  <li><a class="dropdown-item text-info" href="/backgrounds">Backgrounds</a></li>
                  <li><a class="dropdown-item text-info" href="/careers">Careers</a></li>
                  <li><a class="dropdown-item text-info" href="/factions">Factions</a></li>
                  <li><a class="dropdown-item text-info" href="/interests">Interests</a></li>
                  <li><a class="dropdown-item text-info" href="/skills">Skills</a></li>
                  <li><a class="dropdown-item text-info" href="/sleights">Sleights</a></li>
                  <li><a class="dropdown-item text-info" href="/traits">Traits</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-info" href="/pools">Pools</a></li>
                  <li><a class="dropdown-item text-info" href="/reputations">Reputations</a></li>
                  <li><hr class="dropdown-divider "></li>
                  <li><a class="dropdown-item text-info" href="/morphs/types">Morphs</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item text-info" href="/gear/categories">Gear</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-info" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Characters</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item text-info" href="/characters/add">Add Character</a></li>
                  <li><a class="dropdown-item text-info" href="/characters/my">My Characters</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search" action="/search">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user %}
                <li class="nav-item">
                  <a class="nav-link text-info" aria-current="page" href="/users/{{ user.id }}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-info" aria-current="page" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link text-info" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-info" aria-current="page" href="/signup">Register</a>
                </li>
                {% endif %}
              </ul>
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="term">
              <button class="btn btn-outline-info" type="submit">Search</button>
            </form>
          </div>
        </div>
    </nav>
    {% block content %}
    <div class="container-fluid bg-body-primary mt-3">
        <div data-bs-theme="dark"class="row p-1 justify-content-evenly">
          <div>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                  {% for message in messages %}
                      {{ message }}
                  {% endfor %}
              {% endif %}
            {% endwith %}
          </div>
            <div class="row">
                <div class="col-lg-8 p-3 ms-lg-5 me-5 mt-1 text-body bg-body-secondary rounded-end border border-info">
                    <img src="\static\images\EclipsePhase_Logo_White.png" class="img-fluid">
                </div>
                <div class="col-lg-3 p-3 mt-1 text-body bg-body-secondary rounded border border-info">
                      <h2><p class="text-info my-2">About EP2-Muse</p></h2>
                      <div class="col p-3">
                        <p>EP2-Muse is meant to serve as a compendium for Eclipse Phase 2, the roleplaying game of transhuman survival.</p>
                        <p>Muse allows you to look up game rules and information as needed. The data comes from <a href="https://github.com/Arokha/EP2-Data">Arokha's EP-2 Data project.</a></p>
                        
                        <p>This website, along with <a href="https://eclipsephase.com/">Eclipse Phase</a>, is licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) license</a></p>
                        <p>You can find the code for this app on <a href="https://github.com/beirnest/EP2-Muse">GitHub</a></p>
                      </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.js" integrity="sha256-dWvV84T6BhzO4vG6gWhsWVKVoa4lVmLnpBOZh/CAHU4=" crossorigin="anonymous"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>