{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid bg-body-primary mt-3">
        <div data-bs-theme="dark"class="row p-1 justify-content-evenly">
            <div class="row">
                <div class="col p-3 mt-1 text-body bg-body-secondary rounded border border-info">
                    <h2><p id="name" class="text-info my-2"></p>{{ character.name }}</h2>
                    <div class="col p-3 table-responsive">
                      <p>Background: {{ background.name }}</p>
                      <p>Career: {{ career.name }}</p>
                      <p>Interests: {{ interests.name }}</p>
                      <p>Faction: {{ faction.name }}</p>
                      <p>Aptitude Template: {{ aptitude.name }}</p>
                      <p>Languages: {{ character.languages }}</p>
                      <p>Morph: {{ morph.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}