{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid bg-body-primary mt-3">
        <div data-bs-theme="dark"class="row p-1 justify-content-evenly">
            <div class="row">
                <div class="col-lg-1 mt-1 me-5 d-none d-lg-block">
                        <div id ="left-nav" class="btn-group-vertical">    
                        </div>
                </div>
                <div class="col p-3 me-lg-5 mt-1 text-body bg-body-secondary rounded-end border border-info">
                    <h2><p id="name" class="text-info my-2"></p>{{ stat.name|upper }} {% if stat.short_name %}({{ stat.short_name|upper }}){% endif %}</h2>
                    <div class="col p-3">
                      <p>{{ stat.description|safe }}</p>
                      {% if stat.skills %}
                        <h4>Skills</h4>
                        {% for skill in stat.skills %}
                            <p><strong>{{ skill.name|capitalize }}</strong>: {{ skill.rating }}</p>
                            <ul>
                                {% for option in skill.options %}
                                    <li>{{ option }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                       {% endif %}
                    </div>
                </div>
                <div class="col-lg-3 p-3 mt-1 text-body bg-body-secondary rounded border border-info">
                    <h2><p class="text-info my-2">Source</p></h2>
                    <div class="col p-3">
                    {% if stat.resource == "Eclipse Phase Second Edition" %}
                        <img src="/static/images/EP2-cover.webp" class="img-fluid">
                    {% endif %}
                    {% if stat.resource == "Eclipse Phase: Multiplicity and Synthesis" %}
                        <img src="/static/images/EPMAS.jpg" class="img-fluid">
                    {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/stats.js"></script>
    <script src="/static/js/gear.js"></script>
    {% endblock %}